body{
    background-color: black;
}

#container{
    margin: 200px 300px;
    height: 400px;
    width: 600px;
    background-color: white;
    position: relative;
}

#circle{
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 50%;
    position:absolute;
    left: 200px;
    top:100px;
}