body{
    background-color: black;
}

#container{
    margin: 20% 30%;
    height: 400px;
    width: 600px;
    background-color: rgba(241, 13, 13, 0.37);
    position: relative;
}

#rec{
    height: 200px;
    background-color: rgb(6, 6, 86);
    width: 600px;
    position: absolute;
    top: 100px;
    position: relative;
}

#circle{
    height: 150px;
    width: 150px;
    background-color: white;
    position: absolute;
    left: 225px;
    top: 25px;
    border-radius: 50%;
}