*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: pink;
}

.Container{
    display: grid;
    height: 800px;
    width: 800px;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    border-width: 10px;
    border-style: solid;
    border-color: brown;
}

.White{
    background-color: white;
}

.Black{
    background-color: black;
}

