*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-size: 50px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Container{
    padding: 5px;
    background-color: rgb(218, 210, 210);
    gap: 10px;
    height: 80vh;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
}

.Header{
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(104, 17, 104);
}

.SideBar{
    grid-column: 1/2;
    grid-row: 2/4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 147, 51);
}

.Content-1{
    grid-column: 2/4;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 242, 255);
}

.Content-2{
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 242, 255);
}

.Content-3{
    grid-column: 3/4;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 242, 255);
}

.Footer{
    grid-column: 1/4;
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(104, 17, 104);
}