*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.Logo{
    color: red;
    background-color: aquamarine;
    font-size: 50px;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
}

.Menu{
    background-color: antiquewhite;
    font-size: 30px;
    display: block;
}

.ok{
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.box{
    background-color: violet;
    display: flex;
    padding: 5px;
    margin: 5px;
}

.Hamburger{
    display: none;
    font-size: 20px;
}

@media screen and (max-width: 767px) {
    .Menu{
        display: none
    }
    .Hamburger{
        display: block;
    }
}