* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  height: 100vh;
  background-color: yellow;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
}


.img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media screen and (min-width:767px) {
    .container{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media screen and (min-width:1024px) {
    .container{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr 1fr;
    }
}

