*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: rgb(93, 137, 137);
}

#Container{
    height:65%;
    width:35%;
    border-radius:8px;
    box-shadow:5px 5px 10px rgba(128,128,128,0.4);
    overflow:hidden;
}

#UpperHalf{
    height:35%;
    width:100%;
    background-color:bisque;
    position:relative;
}

#Avatar{
    position:absolute;
    top:100%;
    left:50%;
    transform:translate(-50%, -50%);
}

img{
    height: 200px;
    width: 200px;
    border-radius:10%;
    object-fit:cover;
    border:3px solid white;
    box-shadow:0 0 0 3px bisque;
}
#MiddleHalf{
    height: 10%;
    width: 100%;
    background-color: white;
}
#LowerHalf{
    height:50%;
    width:100%;
    padding-top:80px;
    background-color: white;
}

.About{
    text-align:center;
}

.About h3 h4{
    color: rgb(118, 75, 23);
}

.Social{
    text-align:center;
    margin-top:20px;
}

.Social a{
    font-size:18px;
    color:#a18137;
    margin:5px;
    text-decoration:none;
}

.Social a i{
    margin-right:3px;
}

.Social a:hover{
    transform:scale(1.2);
}

.Social Span{
    color:#372805ee;
}