*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: rgb(202, 236, 236);
    overflow: hidden;
    animation-name: sky;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    position: relative;
}

.sun{
    height: 250px;
    width:250px;
    border-radius: 50%;
    animation-name: sun1;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    position: absolute;
    top: 50%;
    left: 0%;
}

.moon{
    height: 100px;
    width:100px;
    border-radius: 50%;
    animation-name: moon1;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    position: absolute;
    top: 50%;
    left: 0%;
}

@keyframes sky {
    0%{
        background-color: rgb(202, 236, 236);
    }
    47%{
        background-color: rgb(0, 213, 255);
    }
    56%{
        background-color: orange;
    }
    100%{
        background-color: black;
    }
}

@keyframes sun1 {
    0%{
        background-color: white;
        box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.5);
        top: 70%;
        left: 0%;
    }
    47%{
        background-color: gold;
        box-shadow: 0 0 80px 30px rgba(255, 200, 0, 0.6);
        top: 30%;
        left: 30%;
    }
    56%{
        background-color: rgb(255, 102, 0);
        box-shadow: 0 0 60px 20px rgba(255, 102, 0, 0.4);
        box-shadow: 0 0 0 0;
        top: 30%;
        left: 60%;
        animation-timing-function: ease-in;
    }
    100%{
        top: 70%;
        left: 100%;
        background-color: transparent;
        box-shadow: none;
        animation-timing-function: ease-out;
    }
}

@keyframes moon1 {
    0%{
        background-color: rgba(255, 255, 255, 0.514);
        box-shadow: none;
        top: 30%;
        left: 0%;
    }
    47%{
        background-color: transparent;
        box-shadow: none;
        top: 70%;
        left: 30%;
    }
    56%{
        background-color: rgba(255, 255, 255, 0.468);
        box-shadow: 0 0 60px 20px rgb(255, 255, 255);
        box-shadow: 0 0 0 0;
        top: 70%;
        left: 60%;
        animation-timing-function: ease-in;
    }
    100%{
        top: 30%;
        left: 100%;
        background-color: rgb(255, 255, 255);
        box-shadow: none;
    }
}