#Header{
    height: 8vh;
    text-align: center;
    background-color: aqua;
    font-weight: 1000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#pic{
    font-size: 1em;
    background-color: yellow;
    image-orientation: flip;
}

.header2{
    background-color: blueviolet;
    font-size: 50px;
}

#footer{
    font-family: Arial, Helvetica, sans-serif;
}